.estilo1{
    color: white;
    background-color: rgb(55, 55, 55);
    margin-right: 1090px;
   text-align: center;

}

.estilo2{
    color: white;
    background-color: rgb(55, 55, 55);
    margin-right: 1090px;
   text-align: center;
   padding: 150px;    
}

